
<div class="headTop">
    <ul>
        <li>
            <a href="#">繁体版</a>
        </li>
        <li>
            <a href="#">简体版</a>
        </li>
        <li>
            <a href="#">English</a>
        </li>
    </ul>
</div>
<header>
    <nav>
        <div class="logoDiv">
            <img src="assets/img/CTTLC_logo.svg" alt="CTTLC">
        </div>
        <div class="navDiv">
            <form class="searchBar">
                <label for="search">产品搜寻</label>
                <input type="text" id="search" name="search">
                <input type="submit" value="搜尋" id="searchSub">
            </form>
            <div class="tabBar">
                <ul>
                    <li>
                        <a href='/index'>首页</a>
                    </li>
                    <li>
                        <a href='/product'>产品与服务</a>
                    </li>
                    <li>
                        <a href='/material'>矽晶圆材料</a>
                    </li>
                    <li>
                        <a>功率元件与模块设计服务</a>
                    </li>
                    <li>
                        <a>制造工厂</a>
                    </li>
                    <li>
                        <a>线上咨询</a>
                    </li>
                    <li>
                        <a>联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    let pageName = window.location.pathname.split('/').pop().split('.')[0];
    $('#' + pageName).css({ 'color': '#1f2a50' }).parents('li').css({ 'background-color': '#efefef', 'color': '#1f2a50' });
</script>
<form id="form1">
    <div>
        <router-outlet></router-outlet>
    </div>
</form>

<footer>
    <div class="footer">
        <div class="wbeMap">
            <ul>
                <li>
                    <a href="/About.aspx">關於佳泰</a>
                </li>
                <li>
                    <a href="/Intro.aspx">公司簡介</a>
                </li>
                <li>
                    <a href="#">公司沿革</a>
                </li>
                <li>
                    <a href="#">組織架構</a>
                </li>
                <li>
                    <a href="#">營業概況</a>
                </li>
                <li>
                    <a href="#">RoHS</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">產品資訊</a>
                </li>
                <li>
                    <a href="#">Power MOSFETs</a>
                </li>
                <li>
                    <a href="#">SUPER JUNCTION</a>
                </li>
                <li>
                    <a href="#">IGBTs</a>
                </li>
                <li>
                    <a href="#">POWER ICs</a>
                </li>
                <li>
                    <a href="#">產品消息</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">產品應用</a>
                </li>
                <li>
                    <a href="#">Ｎetworking</a>
                </li>
                <li>
                    <a href="#">LED</a>
                </li>
                <li>
                    <a href="#">LCD/LED TV</a>
                </li>
                <li>
                    <a href="#">SPS</a>
                </li>
                <li>
                    <a href="#">MB</a>
                </li>
                <li>
                    <a href="#">Notebook</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">銷售據點</a>
                </li>
                <li>
                    <a href="#">歐洲</a>
                </li>
                <li>
                    <a href="#">亞洲</a>
                </li>
                <li>
                    <a href="#">非洲</a>
                </li>
                <li>
                    <a href="#">澳洲</a>
                </li>
                <li>
                    <a href="#">北美洲</a>
                </li>
                <li>
                    <a href="#">中南美洲</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">投資人專區</a>
                </li>
                <li>
                    <a href="#">財務業務資訊</a>
                </li>
                <li>
                    <a href="#">股東會資訊</a>
                </li>
                <li>
                    <a href="#">股利及股價資訊</a>
                </li>
                <li>
                    <a href="#">股務作業</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">公司治理</a>
                </li>
                <li>
                    <a href="#">公司治理架構</a>
                </li>
                <li>
                    <a href="#">董事會</a>
                </li>
                <li>
                    <a href="#">委員會</a>
                </li>
                <li>
                    <a href="#">組織規程</a>
                </li>
                <li>
                    <a href="#">內部稽核</a>
                </li>
                <li>
                    <a href="#">相關規則及資訊</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">企業社會責任</a>
                </li>
                <li>
                    <a href="#">企業社會責任使命</a>
                </li>
                <li>
                    <a href="#">ＣＳＲ政策及推動計劃</a>
                </li>
                <li>
                    <a href="#">ＣＳＲ報吿書</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">利害關係人專區</a>
                </li>
                <li>
                    <a href="#">聯絡資訊</a>
                </li>
                <li>
                    <a href="#">溝通管道</a>
                </li>
                <li>
                    <a href="#">常見問答集</a>
                </li>
            </ul>
        </div>
        <p>Copyright © 2023 CTTLC. All rights reserved.</p>
    </div>

</footer>


<script src="/src/js/prodData.js"></script>
<script src="/src/js/common.js"></script>